<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<section class="footer-connect">
			<h2>Connect</h2>
			<ul class="icons">
				<li><a href="{{ site.linkedin }}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="{{ site.github }}" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="{{ site.twitter }}" class="icon brands style2 fa-twitter"><span class="label">X</span></a></li>
				<li><a href="mailto:{{ site.email }}" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
			</ul>
		</section>
		<ul class="copyright">
			<li>&copy; {{ site.year }} {{ site.author }}. All rights reserved.</li>
		</ul>
	</div>
</footer>
