<!-- Dropdown Menu -->
<nav class="dropdown-nav">
	<button class="menu-toggle" onclick="toggleMenu()">
		<span class="hamburger"></span>
		Menu
	</button>
	<div class="dropdown-menu" id="dropdown-menu">
		<a href="{{ site.baseUrl }}/">Home</a>
		<a href="{{ site.baseUrl }}/about/">About</a>
	</div>
</nav>
