<!-- Scripts -->
<script src="{{ site.baseUrl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseUrl }}/assets/js/browser.min.js"></script>
<script src="{{ site.baseUrl }}/assets/js/breakpoints.min.js"></script>
<script src="{{ site.baseUrl }}/assets/js/util.js"></script>
<script src="{{ site.baseUrl }}/assets/js/main.js"></script>
<script src="{{ site.baseUrl }}/assets/js/formhandler.js"></script>
<script src="{{ site.baseUrl }}/assets/js/background.js"></script>
